@font-face {
  font-family: segoeui;
  src: url(/src/fonts/segoeui.woff2);
}

@font-face {
  font-family: segoeui;
  font-weight: bold;
  src: url(/src/fonts/segoeui_bold.woff2);
}

@font-face {
  font-family: segoeui;
  font-style: italic;
  src: url(/src/fonts/segoeui_italic.woff2);
}

html,
body {
  margin: 0;
}

body {
  background: white;
  color: black;
  font-family: segoeui, "Segoe UI", sans-serif;
}

.layout-margin {
  margin-top: 120px;
  margin-left: 20%;
  margin-bottom: 30px;
  margin-right: 20%;
}

/* ----- HEADER ----- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 120px;
  margin-bottom: 30px;
}

.leonie a {
  margin: 0;
  font-family: segoeui, "Segoe UI";
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-left: 1rem;
}

.active {
  font-weight: bold;
  border-bottom: 1px solid black;
}

/* ----- WORK PAGE ----- */

.projects {
  width: 100%;
}

.project {
  display: block;
  position: relative;
}

.project h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  text-decoration: none;
  transform: translate(-50%, -50%);
  font-size: 1.4em;
}

.project img {
  width: 100%;
}

/* ----- SINGLE PAGE ----- */

.main-singlepage {
  margin-bottom: 120px;
}

.filmclip {
  width: 100%;
}

.filmclip iframe,
.filmclip img {
  width: 100%;
  aspect-ratio: 560/315;
}

h2 {
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  font-size: 1em;
}

.synopsis {
  margin-top: 2em;
  width: 80ch;
}

.credits {
  margin-top: 2em;
}

.festivals {
  margin-top: 2em;
  font-style: italic;
}

h3 {
  font-weight: 100;
  margin-bottom: 0.3em;
  border-bottom: 1px solid black;
  display: inline-block;
  font-style: normal;
}

/* ----- ABOUT PAGE ----- */

.about-me {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 40px;
  width: 80ch;
}

/* ----- CONTACT PAGE ----- */

.insta-link {
  text-decoration: none;
  color: black;
}
